/*Configurações gerais da página*/

.clear {
  clear: both;
}

.center {
  width: auto;
  height: auto;
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color:rgba(56, 59, 55, 0.9);
  padding: 50px 50px 0px 50px;
}